@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma+2:600, 700");
* {
  box-sizing: border-box;
}

/* *{outline: 1px solid #000;} */

html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}
*{
    font-family: "Baloo Tamma 2";
}
body {
  min-height: 100vh;
  background: #D5B850;
  display: flex;
  color: #333333;

  letter-spacing: 0.07em;
}
/* login */
.login{
    margin: auto;

}
.login .container{
    display: flex;
}
.title_txt{
    display: flex;
}
.icon_img{
    width: 30px;
    height: 30px;
    margin-top: 35px;
}
h1{
    color: #824C0C;
    font-weight: bold;
    font-size: 36px;
}
.img1{
    width: 400px;
}

.left_container{
    padding: 40px;
}
.right_container .h2{
    white-space: nowrap;    
}
.form{
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
}
#login_email, #login_password,#nickname,#signup_password-a,#signup_password,#signup_email{
    border-radius: 5px;
    font-weight: bold;
    height: 45px;
    width: 300px;
    margin-bottom: 20px;
    border:none;
}
label{
    font-weight: bold;
    font-size: 14px;

}
.form span{
    color: #D26900;
    font-size: 12px;
    font-weight: bold;
}
.form p{
    color: #D26900;
    font-size: 12px;
}
.login .form .loginbtn{
    width: 140px;
    height: 40px;
    background-color: #956D14;
    color: #fff;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 20px;
    border: none;
}

.login .form .loginbtn:hover{
    width: 140px;
    height: 40px;
    background-color: #A57815;
    color: #fff;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.login .form .signupbtn{
    background-color:transparent;
    color: #956D14;
    border: none;
    font-weight: bold;
    margin-top: 10px;
}
.login .form .signupbtn:hover{
    background-color:transparent;
    color: #B9840E;
    border: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

/* signup */
.signup{
    margin: auto;

}
.signup .container{
    display: flex;
}
.signup #nickname, .signup #signup_email, .signup #signup_password,.signup #signup_password-a{
    margin-top: 0px;
    margin-bottom:0px;
}
.signup .form{
    padding-top: 0px;
}
.btn_container{
    display: flex;
    justify-content: center;

}
.signup .form .signupbtn{
    width: 140px;
    height: 40px;
    background-color: #956D14;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
}

.signup .form .signupbtn:hover{
    width: 140px;
    height: 40px;
    background-color: #A57815;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}
.signup .form .loginbtn{
    background-color: transparent;
    color: #956D14;
    border: none;
    font-weight: bold;
    margin-top: 10px;
}


.signup .form .loginbtn:hover{
    background-color: transparent;
    color: #B9840E;
    border: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

/* toDoList */
.todo .icon_img{
    width: 30px;
    height: 30px;
    margin-top: 25px;
}
.todo .icon_img:hover{
    cursor: pointer;
}
.todo h2 {
  font-weight: bold;
  color: #824C0C;
}
.todo h2{
    cursor: pointer;
}

@media (max-width: 575px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.todo{

    background-image: linear-gradient(174deg, #D5B850 50%, #FFF2F4 50%);

    width: 100%;
}

@media (max-width: 575px) {
  .container {
    margin-top: 1.5rem;
  }
}
.todo header{
    display: flex;
    justify-content: space-between;
}
.todo .name_group{
    display: flex;
}

.name_group p{
    padding: 2px;
    padding-top: 20px;
}

.name{
    color: #7B450C;
    font-weight: bold;
}
.logout{
    color: #7B450C;
    font-weight: bold;
}
.logout:hover{
    color: #efefef;
    cursor: pointer;
}
.card {
  margin-bottom: 0.5rem;
  max-width: 575px; 
  min-width: 300px;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

input[type=text] {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1rem;
  padding-right: 1rem;
  color: #333333;
}
input[type=text]::-moz-placeholder {
  color: #9f9a91;
}
input[type=text]::placeholder {
  color: #9f9a91;
}

.input {
  padding: 4px 4px 4px 1rem;
  display: flex;
}

.btn_add {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #7B5909;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}
.btn_add:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #8F670A;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
  }
.card_list {
  padding: 0;
}

.tab {
  display: flex;
  text-align: center;
  color: #9f9a91;
  font-size: 14px;
}
.tab li {
  padding: 1rem;
  width: 100%;
  border-bottom: 2px solid #efefef;
}
.tab li.active {
  border-bottom: 2px solid #333333;
  color: #333333;
  font-weight: bold;
}

.cart_content {
  padding: 0.5rem 1rem 1rem 1rem;
}
@media (max-width: 575px) {
  .cart_content {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
  }
}

.list li {
  list-style-type: none;
  position: relative;
  padding-right: 2rem;
}
@media (max-width: 575px) {
  .list li {
    list-style-type: none;
    padding-right: 0;
  }
}
.list li a.delete {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  color: #333333;
  display: block;
  width: 1rem;
  height: 1rem;
  background: #000;
  background-image: url("https://i.imgur.com/7Q4RjFx.jpg");
  background-size: contain;
}
@media (max-width: 575px) {
  .list li a.delete {
    opacity: 1;
    width: 12px;
    height: 12px;
  }
}
.list li:hover a.delete {
  opacity: 1;
}

.list_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem 1rem 0.5rem;
  font-size: 14px;
}
.list_footer a {
  color: #9f9a91;
  text-decoration: none;
}
@media (max-width: 575px) {
  .list_footer {
    padding: 1.5rem 0 1rem 0.5rem;
  }
}

.checkbox {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  display: block;
  padding-left: 44px;
  cursor: pointer;
}
.checkbox span {
  display: block;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  line-height: 1.5;
}
@media (max-width: 575px) {
  .checkbox span {
    padding-right: 1rem;
  }
}
.checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
}
.checkbox span::before {
  content: "";
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%) scale(1);
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border: 1px solid #333333;
  pointer-events: none;
  transition: 0.3s ease;
}
.checkbox span::after {
  content: "";
  position: absolute;
  left: 14px;
  top: 27%;
  transform: rotate(45deg);
  height: 15px;
  width: 0.5rem;
  border-radius: 1px;
  border-bottom: 3px solid #ffd370;
  border-right: 3px solid #ffd370;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s ease;
}
.checkbox input:checked ~ span {
  color: #9f9a91;
  text-decoration: line-through;
}
.checkbox input:checked ~ span::before {
  border-color: transparent;
  transform: translateY(-50%) scale(0);
}
.checkbox input:checked ~ span::after {
  opacity: 1;
}/*# sourceMappingURL=toDoList_style.css.map */

.tab-link {
  list-style-type: none;
  cursor: pointer;
}
.no_todo{
    text-align: center;
}

/* 頁面切換 */
.none{
    display: none;
}